div(class="container")
  // Should probably get rid of this
  h
    | Register Here:
  form((ngSubmit)="onSubmit()")
    div(class="form-group")
      label(for="email")
      input(type="text", class="form-control", id="name", [(ngModel)]="userEmail", name="test", required)
    div(class="form-group")
      label(for="password")
        | Password
      input(type="password", class="form-control", id="password", [(ngModel)]="userPassword", name="test2", required)
    button(class="btn btn-default")
      | Submit
div(class="container")
  div(class="col-1")
    div(style="display:block")
      | Login with one of the following
    button(style="display:block")
      | Sign in with Google
    button(style="display:block")
      | Sign in with Facebook
    button(style="display:block")
      | Sign in with Twitter
    button(style="display:block")
      | Sign in with Reddit
    button(style="display:block")
      | Sign in with Pinterest
