// This is a sample Google Maps page. I'm hoping to use this to get familiar
// with pug templates.
//
// This will contain the map and the photos
div(style="display:inline-block") 
div(id="tags" style="min-width:1000px;display:block;float:left")
  div(style="float:left;height:200px;min-width:500px")
    p
      | Pictures will go here
    graffiti-map-gallery
  div(id="googleMap" style="min-width:500px;height:500px;display:block;float:left")
