#cos-profile(*ngIf="isLoggedIn")
  .container
    h1
      | Your Favourites
    #cos-profile-favourites-gallery
      .cos-profile-favourites-gallery-container(*ngFor="let imgUrl of userFavourites")
        cos-gallery-widget([imgUrl]="imgUrl")
        button.btn.btn-info.cos-profile-remove-button((click)="removeGraffiti(imgUrl)") X