#cos-rate(*ngIf="isLoggedIn")
  #cos-rate-graffiti-image-random-and-favourite-button
    #cos-rate-graffiti-image
      img(src="http://i.imgur.com/xHrnW91l.jpg")
    #cos-rate-favourite-and-random-buttons
      button#cos-rate-favourite-button
        | Add to favourites
      button#cos-rate-random-button
        | Random
  #cos-rate-rating-button
    button
      | Crime
    button
      | Sublime