doctype html
html(lang="en")
  head
    title
      | Crime or Sublime
    meta(charset="UTF-8")
    meta(name="viewport" ocontent="width=device-width, initial-scale=1")
    // Need to change the href to CSS
    link(rel="stylesheet" href="styles.css")
    base(href="/")
    // Include google maps API
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCVnOaPHXlVaFvM-wZr1xpiFUcfVTrpjss")
    // Include node modules
    script(src="node_modules/core-js/client/shim.min.js")
    script(src="node_modules/zone.js/dist/zone.js")
    script(src="node_modules/reflect-metadata/Reflect.js")
    script(src="node_modules/systemjs/dist/system.src.js")
    // Include typescript configurations
    script(src="systemjs.config.js")
    // Import Angular project
    script
      | System
      |   .import('public/compiled_app')
      |   .catch((err) => console.error(err));
  body
    cos
      | Loading...
