doctype html
html(lang="en")
  head
    title
      | Crime or Sublime
    meta(charset="UTF-8")
    meta(name="viewport" ocontent="width=device-width, initial-scale=1")
    // Need to change the href to 
    link(rel="stylesheet" href="libs/css/bootstrap/bootstrap.min.css")
    base(href="/")
    // Include google maps API
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVnOaPHXlVaFvM-wZr1xpiFUcfVTrpjss")
    // Include node modules
    script(src="libs/shim/shim.min.js")
    script(src="libs/zone/zone.min.js")
    script(src="libs/reflect-metadata/Reflect.js")
    script(src="libs/systemjs/system.src.js")
    // Include typescript configurations
    //script(src="systemjs.config.js")
    script(src="systemjs.config.js")
    // Import Angular project
    script
      | System
      |   .import('compiled_app')
      |   .catch((err) => console.error(err));
  body
    cos
      | Loading...
