nav
  // Should only show the profile and rate tabs after user has logged in
  a.class([routerLink]="['/profile']", title="profile" routerLinkActive="active") Profile
  a.class([routerLink]="['/rate']", title="rate" routerLinkActive="active") Rate
  a.class([routerLink]="['/map']", title="map" routerLinkActive="active") Map
  // Should only show this if the user has not logged in
  a.class([routerLink]="['/login']", title="login" routerLink="active") Login
  a.class([routerLink]="['/register']", title="login" routerLink="active") Register
router-outlet