nav
  a.class([routerLink]="['/']", title="home") Home
  a.class([hidden]="isLoggedIn", [routerLink]="['/register']", title="register") Register
  a.class([hidden]="isLoggedIn", [routerLink]="['/login']", title="login") Login
  a.class([hidden]="!isLoggedIn", (click)="endSession()") Logout