nav
  a.class([routerLink]="['/']", title="home") Home
  a.class([hidden]="isLoggedIn", [routerLink]="['/cos-fe-register']", id="fe-navbar-register-button", title="register") Register
  a.class([hidden]="isLoggedIn", [routerLink]="['/cos-fe-login']", id="fe-navbar-login-button", title="login") Login
  a.class([hidden]="!isLoggedIn", (click)="endSession()", id="fe-navbar-logout-button", title="logout") Logout