doctype html
html(lang="en")
  head
    title
      | Crime or Sublime
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(content="1111086175633223" property="fb:app_id")
    meta(content="www.something.com" property="og:url")
    meta(content="CRIME OR SUBLIME!" property="og:title")
    meta(content="http://crime-or-sublime.herokuapp.com/imgs/best-head.png" property="og:image")
    //- Need to change the href to 
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    base(href="/")
    //- Include node modules
    script(src="/shim.min.js")
    script(src="/zone.min.js")
    script(src="/Reflect.js")
  body
    cos
      | Loading...
  script(src="/build.js")