ul
  li(*ngFor="let element of graffitiGalleryElements")
    div(style="width:200px;height:100px")
      img(src="{{ element.getPhotoUrl() }}" style="float:left")
      img(src="public/imgs/share.png")
      button((click)="addMarker(element)")
        | Find on map